<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">  <!-- para hacerlo compatible con InternetExplorer -->
		<link rel="shortcut icon" href="{{url_for('static', filename='icono.ico')}}">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='bootstrap.css')}}">
		<title>{% block title %} {% endblock %}</title>
	</head>
	<body>
	    <div>
	    	{% block content %} {% endblock %}
	    </div>
	</body>
</html>