{% extends 'base.html' %}  <!-- heredando -->
{% block content %}  <!-- editando el contenido -->
	<main class="jumbotron">
		<h1 class="text-center mb-auto">{% block title %}Lista / Tabla{% endblock %}<br>USUARIOS / REGISTROS</h1>
		<table class="table table-hover">
			<thead style="background-color: #2b3d50">
				<td>Nombre</td>
				<td>E-mail</td>
				<td>Km por Semana</td>
			</thead>
			<tbody class="table table-active">
			{% for r in rows %}
				<tr class="table-secondary">
					<td>{{r['name']}}</td>
					<td>{{r['mail']}}</td>
					<td width="300">{{r['km']}}</td>
					<td class="text-center" style="background-color: #2b3c50;">{{r['suggest']}}</td>
					<td width="200" class="btn-group-sm">
						<a href="/users/edit/{{r.id}}" class="btn btn-info" style="margin-right: 5px;">Editar</a>
						<a href="/users/delete/{{r.id}}" class="btn btn-danger">Eliminar</a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		<a href="/"><button type="button" class="btn btn-primary">Inicio</button></a>
	</main>
{% endblock %}